<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>191341514192-mfgou60hcs8je9t9kv9jv6df8302nu7b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.191341514192-mfgou60hcs8je9t9kv9jv6df8302nu7b</string>
	<key>API_KEY</key>
	<string>AIzaSyCh3aliu0OHq_ZQh0r3VHLY_Ilw7mqVwBE</string>
	<key>GCM_SENDER_ID</key>
	<string>191341514192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aplikasiAbsenDosen</string>
	<key>PROJECT_ID</key>
	<string>absen-dosen</string>
	<key>STORAGE_BUCKET</key>
	<string>absen-dosen.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191341514192:ios:7ca77907c30a47e5e8bdd5</string>
</dict>
</plist>